<div>
	<h1><%= title %></h1>
	<img
		style="
			width: 100px;
			height: 100px;
			border-radius: 50%;
			border: 1px solid black;
		"
		src="../../public<%= avatar %>"
		alt="avatar"
	/>
	<img
		style="
			width: 100px;
			height: 100px;
			border-radius: 50%;
			border: 1px solid black;
		"
		src="../../public/images/avatar/2024-10-09T12:03:08.644Z-generated_image.png"
		alt=""
	/>
	<a href="<%= link %>"> click here to your active account</a>
</div>
